{% extends 'layout.html' %}

{% block title %}
    Posts
{% endblock %}

{% block content %}
<section>
    <h1>Съобщения</h1>

    {% for message in messages %}
        <p><a>{{ message.message }}</a></p>
        <p><a>Данни за клиента: </a></p>
        <p><a>username: </a><a>{{ message.user_from.username }}</a></p>
        <p><a>email: </a><a>{{ message.user_from.email }}</a></p>
        <p><a>age: </a><a>{{ message.user_from.age }}</a></p>
        <p><a>egn: </a><a>{{ message.user_from.egn }}</a></p>
        <p><a>role: </a><a>{{ message.user_from.role }}</a></p>

        {% if "желае да отвори сметка" in message.message %}
            <form method="POST" action="{% url 'posts:approve_open' message.id %}">
                {% csrf_token %}
                <button type="submit" name="action" value="approve">Одобри</button>
            </form>

            <form method="POST" action="{% url 'posts:reject' message.id %}">
                {% csrf_token %}
                <button type="submit" name="action" value="reject">Откажи</button>
            </form>
        {% endif %}

        {% if "желае да затвори сметка" in message.message %}
            <form method="POST" action="{% url 'posts:approve_close' message.id %}">
                {% csrf_token %}
                <button type="submit" name="action" value="approve">Одобри</button>
            </form>

            <form method="POST" action="{% url 'posts:reject' message.id %}">
                {% csrf_token %}
                <button type="submit" name="action" value="reject">Откажи</button>
            </form>
        {% endif %}

        {% if "желае да премести сметката" in message.message %}
            <form method="POST" action="{% url 'posts:approve_change' message.id %}">
                {% csrf_token %}
                <button type="submit" name="action" value="approve">Одобри</button>
            </form>
            <form method="POST" action="{% url 'posts:reject' message.id %}">
                {% csrf_token %}
                <button type="submit" name="action" value="reject">Откажи</button>
            </form>
        {% endif %}

    {% empty %}
        <p>Няма съобщения.</p>
    {% endfor %}
</section>
{% endblock %}
