{% extends 'layout.html' %}
<body>
    <h1>Съобщения за {{ user.username }}</h1>

    <!-- Проверка дали има съобщения -->
    {% if messages %}
        <table border="1">
            <thead>
                <tr>
                    <th>Изпращач</th>
                    <th>Дата на изпращане</th>
                    <th>Съдържание на съобщението</th>
                    <th>Банка</th>
                </tr>
            </thead>
            <tbody>
                <!-- Преглед на всяко съобщение -->
                {% for message in messages %}
                    <tr>
                        <td>{{ message.user_from.username }}</td>
                        <td>{{ message.timestamp }}</td>
                        <td>{{ message.content }}</td>
                        <td>{{ message.bank.name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Няма съобщения за показване.</p>
    {% endif %}

</body>
</html>
